<script>
  import { NgModule } from '@angular/core';
</script>

<style>

</style>

<main class='main'>
  <h1 class='title'>  {{ title }} </h1>

  <div class='containerGrid'>

    <div class='card' *ngFor='let framework of frameworks'>

      <a href={{framework.repoUrl}} target="_blank">

        <img src={{framework.imgUrl}} alt={{framework.title}}>

        <div class='divClass'>
          <h2> {{framework.title}} </h2>
          <span class='spanClass'>
            <p> Ir a </p>
            <a href={{framework.repoUrl}} target='_blank'> REPO </a>
          </span>
        </div>

      </a>

    </div>

  </div>

</main>

<router-outlet />
